extends layout

block content
  div(class="main-page" id="main-page")
    include elements/head
    include elements/right
    include elements/left
    div(class="main-page-container")
      div(class="main-page-r")
  script(src="/javascripts/indexscript.js")
